*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#f4a261;
}

/* ===== HEADER ===== */
.header-practica{
    background-color:#1e293b;
    padding:15px 40px;
}

/* BOTÓN INICIO */
.btn-inicio{
    color:white;
    text-decoration:none;
    font-weight:bold;
    background-color:#2563eb;
    padding:10px 18px;
    border-radius:6px;
    display:inline-block;
    transition:0.3s;
}

.btn-inicio:hover{
    background-color:#1d4ed8;
}

/* CONTENEDOR QUE CENTRA SOLO LA CARD */
.contenedor{
    display:flex;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 70px);
}

/* ===== CARD ===== */
.card{
    background:white;
    padding:55px;
    border-radius:20px;
    width:520px;
    text-align:center;
    box-shadow:0 25px 60px rgba(0,0,0,0.25);
}

h1{
    color:#e76f51;
    margin-bottom:10px;
    font-size:26px;
}

.subtitle{
    font-size:15px;
    margin-bottom:30px;
    color:#555;
}

.upload-box{
    border:2px dashed #e76f51;
    padding:35px;
    border-radius:15px;
    cursor:pointer;
    margin-bottom:20px;
    position:relative;
    transition:0.3s;
    background:#fff7f3;
}

.upload-box:hover{
    background:#ffe5dc;
}

.upload-box p{
    color:#444;
    font-size:14px;
}

.upload-box input{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    cursor:pointer;
}

/* BOTÓN PRINCIPAL */
.primary-btn{
    background:#e76f51;
    border:none;
    padding:14px;
    border-radius:10px;
    color:white;
    cursor:pointer;
    margin-top:10px;
    width:100%;
    font-size:16px;
    font-weight:bold;
    transition:0.3s;
}

.primary-btn:hover{
    background:#d65a3c;
    transform:translateY(-2px);
}

/* BOTÓN SECUNDARIO */
.secondary-btn{
    background:#264653;
    border:none;
    padding:12px;
    border-radius:10px;
    color:white;
    cursor:pointer;
    margin-top:18px;
    width:100%;
    font-size:15px;
    transition:0.3s;
}

.secondary-btn:hover{
    background:#1b323c;
}

img{
    display:none;
    margin-top:20px;
    width:100%;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

#resultSection{
    display:none;
}

.loading{
    color:#f4a261;
    margin-top:12px;
    font-weight:bold;
}

.success{
    color:#2a9d8f;
    margin-top:12px;
    font-weight:bold;
}

.error{
    color:#e63946;
    margin-top:12px;
    font-weight:bold;
}